.PomodoroTimerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(79deg, #DDBB99, #CDBEA9 48%, #B8A48E);
  }
  
  .timer-container {
    margin-bottom: 2rem;
  }
  
  .timer {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .focus-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .focus-time-container label {
    margin-right: 0.5rem;
    color: #FFF;
  }
  
  .focus-time-container input {
    width: 4rem;
    padding: 0.25rem;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
  }
  
  .buttons-container button {
    border: none;
    background-color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
  }
  
  .buttons-container button:hover {
    background-color: #D3D3D3;
  }
  